$IBM-YELLOW-1: #FFE14F;
$IBM-YELLOW-2: #FFCE01;
$IBM-YELLOW-3: #FDB813;

$IBM-ORANGE-1: #F19027;
$IBM-ORANGE-2: #DD731C;
$IBM-ORANGE-3: #B8471B;

$IBM-RED-1: #F04E37;
$IBM-RED-2: #D9182D;
$IBM-RED-3: #A91024;

$IBM-PINK-1: #F389AF;
$IBM-PINK-2: #EE3D96;
$IBM-PINK-3: #BA006E;

$IBM-PURPLE-1: #AB1A86;
$IBM-PURPLE-2: #7F1C7D;
$IBM-PURPLE-3: #3B0256;

$IBM-BLUE-1: #82D1F5;
$IBM-BLUE-2: #00B0DA;
$IBM-BLUE-3: #00B2EF;
$IBM-BLUE-4: #008ABF;
$IBM-BLUE-5: #00649D;
$IBM-BLUE-6: #003F69;

$IBM-TEAL-1: #00A6A0;
$IBM-TEAL-2: #007670;
$IBM-TEAL-3: #006058;

$IBM-GREEN-1: #8CC63F;
$IBM-GREEN-2: #17AF4B;
$IBM-GREEN-3: #008A52;

$IBM-OLIVE-1: #A5A215;
$IBM-OLIVE-2: #838329;
$IBM-OLIVE-3: #594F13;

$text-color: #5F5E5F !default;
$text-color-light: #fff !default;